/*==========================================================================================
Filename:		events.css
Purpose:		Provides style for events.sjsu.edu
Created by:		Web Services
Created:		08/16/13 10:42
Last Modified:	08/16/13 10:45 (bds)
===========================================================================================*/

/*
Copied from events.sjsu.edu/sjsu/css/sjsu4_cal.css

Most code is obsolete or deprecated. Published for testing purposes only.

*/


body {
  background: url(/SJSU/images/bg_shadow.jpg) repeat-y top center;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 12px;
  color: #222;
  margin: 0px;
  padding: 0px;
  margin: 0 auto;
  width: 980px;
  text-align: center;
}

a {
	color: #36c;
}

a, a img, img a {
	text-decoration: none;
	border: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: #36c;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 150%;
}

h1 + p {
  margin-top:0;
}

h1 a {
  color:#36c;
}

h2 {
  font-size: 140%;
  margin-top: 0;
  padding-top: 0;
}

.smallh2 {
  font-size: 110%;
  color: #36c;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h2 + p {
  padding-top: 0;
  margin-top:0;
}

h2 a {
  color:#36c;
}

h3 {
  margin: 0;
  font-size: 130%;
}

h3.smallh3 {
  margin: 0;
  font-size: 110%;
}

h3 span.title {
  margin: 0;
  padding: 0;
  font-size: 130%;
}

h3#quicklinks {
  margin: 3px;
  padding: 0;
  font-size: 130%;
}

h3 + p {
  margin-top:0;
}

h3 a {
  color:#36c;
}

h4 {
  font-size: 110%;
}

h4 + p {
  margin-top:0;
}

h4 a {
  color:#36c;
}

h5
{
  font-size: 110%;
}

h5 + p {
  margin-top:0;
}

h5 a {
  color:#36c;
}

h6 {
  font-size: 100%;
}

h6 + p {
  margin-top:0;
}

h6 a {
  color:#36c;
}

.hidden
{
  position: absolute;
  left: 0;
  top: -10000px;
  overflow: hidden;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.strikethrough {
	text-decoration: line-through;
}

.underline {
	text-decoration: underline;
}

#homewrapper
{
  width: 770px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #000;
}

#wrapper_global
{
  width: 770px;
  padding: 0px;
  margin: auto;
}

#wrapper_header
{
  width: 980px;
  padding: 0;
  _margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

#wrapper_header_splash
{
  width: 770px;
  padding: 0;
  margin-top: 0;
  _margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
}

#wrapper_header_sjsuhome
{
  width: 770px;
  padding: 0;
  _margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
}

#wrapper_nav
{
  width: 740px;
  background: none;
  margin: 10px auto 0 auto;
  _margin: -10px auto 0 auto;
  padding-bottom: 3px;
}


{
  width: 940px;
  _width: 980px;
  margin: 0 auto 0 auto;
  height: auto;
}

#wrapper_acc
{
  width: 940px;
  margin: 0 auto 15px auto;
}

#wrapper_content
{
  width: 740px;
  _width: 770px;
  margin: auto;
}

#wrapper_content_home
{
  width: 740px;
  _width: 740px;
  margin: 20px auto;
  _margin-left: 15px;
}

#wrapper_content_search
{
  width: 740px;
  _width: 730px;
  margin: 20px auto;
  _margin-left: 12px;
  padding: 0;
}

#wrapper_banner_expand
{
  margin: 0 0 15px -15px;
  _margin: 0;
}

#wrapper_footer_mods
{
  clear: both;
  width: 740px;
  _width: 754px;
  padding: 20px 0 0 0;
  _padding: 20px 15px 0 0;
  margin: auto;
  height: auto;
  /*background-color: #fbfbfb;*/
}

/* start skip */

#skip
{
  margin: 0px;
  padding: 0px;
}

/* end skip */

/* start homebanner */

#homebanner
{
  background-image: url(/pics/banners/home.jpg);
  background-repeat: no-repeat;
  height: 270px;
}

#homebanner h1
{
  display: none;
}

/* end homebanner */

/* start generalbanner */

#generalbanner
{
  background-image: url(/pics/nav/students_bg.jpg);
  background-repeat: no-repeat;
  height: 220px;
}

#generalbanner h1
{
  display: none;
}

/* end generalbanner */

/* start banner */

#banner
{
  background-image: url(/SJSU/images/980_cal_default.jpg);
  background-repeat: no-repeat;
  height: 100px;
}

#banner_cal
{
  background-image: url(/SJSU/images/980_cal_default.jpg);
  background-repeat: no-repeat;
  height: 100px;
}

/*#banner h1
{
  display: none;
}*/

/* end banner */

/* start global navigation */

#globalnav
{
	float: left;
  margin: 0px 0px 0px 20px;
  padding: 0px;
  list-style-type: none;
}

#globalnav li
{
  color: #fff;
  /*background-color: #36c;*/
  text-decoration: none;
  display: inline;
  padding-right: 1em;
  font-size: 85%;
}

#globalnav a
{
  color: #fff;
  background-color: #36c;
  text-decoration: none;
}

#globalnav a:hover
{
  color: #ff0;
  background-color: #36c;
}

#globalnav a:focus
{
  background-color: #ff0;
  color: #3266CB;
}

#globalnav a#current
{
  color: #ff0;
  background-color: #36c;
}

#globalnav h2
{
  display: none;
}
/* end global navigation */

/* start general navigation */

#generalnavHome
{
  padding-top: 15px;
  margin-left: -15px;
}

#generalnav
{
  /*margin-left: -15px;*/
  padding-top: 10px;
  font-size: 100%;
}

#generalnav ul, #generalnavHome ul
{
  padding: 0;
  margin: 0 0 0 20px;
  list-style: none;
  list-style-image: none;
  /*list-style-image: url("/pics/icon/caret.gif");*/
  /* list-style-type: disc; */
}


#generalnav a, #generalnavHome a
{
  color: #fff;
  text-decoration: none;
  background-color: #36c;
}

#generalnav a:hover, #generalnavHome a:hover
{
  color: #ff0;
  background-color: #36c;
/* text-decoration: underline; */
}

#generalnav a:focus, #generalnavHome a:focus
{
  background-color: #ff0;
  color: #3266CB;
}

#generalnav a#current, #generalnavHome a#current
{
  color: #ff0;
  background-color: #36c;
}

#generalnav h2, #generalnavHome h2
{
  display: none;
}

#currentnav
{ 
  color: #ff0;
  background-color: #36c;
} 

.topNavCaret 
{
  position: relative;
  top: 2px;
  margin-right: 3px; 
}

/* end general navigation */

/* start search box */

.topsearch
{
  margin: 0px 0px 0px 8px;
}

.buttonGo
{
  color:#fff;
  background-color: #3366cc;
  margin: 0;
  padding: .3em;
  border: 1px #fff solid;
  font-size: 85%;
  font-weight: bold;
  text-decoration: none;
}

.buttonGo:focus
{
  color:#36c;
  margin: 0;
  background-color: #ff0;
  padding: .3em;
  border: 1px #fff solid;
  font-size: 85%;
  font-weight: bold;
}

.buttonGo_advsearch
{
  color:#fff;
  background-color: #3366cc;
  width: auto;
  padding: 1em;
  border: 1px #fff solid;
  font-size: 85%;
  font-weight: bold;
}

.SubmitButton
{
  float: right;
}

/* end search box */

/* HTML button */

.html_button {
  background:#36c;
  color:white;
  font-weight:bold;
  padding: .5em;
  text-decoration:none;
  /* border-style:outset; */
  margin-bottom: 1em; 
  line-height: 3em;
}

/*
.html_button:active {
  border-style:inset;
}
*/

.html_button:hover {
  color:#ff0;
  background-color:#36c;
}

.html_button:focus
{
  background:#ff0;
  color:#36c;
  font-weight:bold;
  padding: .5em;
  text-decoration:none;
  /* border-style:outset; */
  margin-bottom: 1em; 
  line-height: 3em;
}

.orange { 
  color: #FFBB44;
  font-weight: bold;
  background-color:#fff;
}

/* start breadcrumb */

#breadcrumb {
  margin: 20px 0 10px 0;
  font-size: 85%;
  color: #000;
  font-weight: bolder;
}

#breadcrumb a {
  color: #000;
  text-decoration: none;
  font-weight: normal;
}

#breadcrumb a:link {
  color: #000;
  text-decoration: none;
}

#breadcrumb a:visited
{
  color: #000;
}

#breadcrumb a:hover
{
  color: #000;
  text-decoration: underline;
}

#breadcrumb a:focus
{
  color: #36c;
  text-decoration: underline;
}

#breadcrumb h2
{
  display: none;
}

/* end breadcrumb */



/* start home news module */


/*#homenewsevents
{
  width: 160px;
  float: left;
}

#homenewsevents h2 
{
  margin-top: 0;  
}*/

table#newstable
{
	width: 320px;
	margin: 10px 0 0 0;
}

#newstable tr td.thumb
{
	width: 100px;
	height: 100px;
	padding: 0 0 20px 0;
	vertical-align: top;
	
}

#newstable tr td.thumb img
{
	border: 1px solid #ccc;
	
}

#newstable tr td.text
{
	width: 100%;
	padding: 0 20px 0 20px;
	text-align: left;
	vertical-align: top;
	
}

#newstable tr td.text h3
{
	font-size: 95%;
}

/* end home news module */



/* start home two column */

#hometwocolleft
{
  /*background: url(/pics/flash/shadow.jpg);*/
  float: left;
  width: 630px;
  padding: 0;
  margin: 2px 0 0 20px;
}

#hometwocolleft h2
{
	text-decoration: none;
	border: 0;
}

#hometwocolleft #flashbanner
{
  width: 600px;
  padding: 0;
  margin: 5px 0 0 13px;
}

#hometwocolright
{
  float: right;
  width: 300px;
  margin: 0 20px 0 0;
  padding: 0;
  background-color: #fff;
}

/* end home two column */


/* start home carriage */

#topcarriage
{
  float: left;
  margin: 0;
  width: 100%;
}


#midcarriage
{
  float: left;
  margin: 20px 0 0 0;
  width: 100%;
}

#carriage_col1of3
{
  float: left;
  margin: 0 0 0 20px;
  width: 240px;
}

#carriage_col2of3
{
  float: left;
  margin: 0 0 0 40px;
  width: 320px;
}

#carriage_col3of3
{
  float: left;
  margin: 0 0 0 40px;
  width: 300px;
}

/* start home carriage */



/* start highlights */

.highlight 
{
	
}

.highlight img
{
	float: left;
	vertical-align: top;
	margin: 0 10px 0 0;
}

.highlight img.left
{
	float: left;
}

.highlight img.right
{
	float: right;
}

/* end highlights */



#homefocusquick h2
{
  margin-top: 0;
}





/* start level2 */

#level2leftcol
{
  width: 140px;
  float: left;
  margin-top: 20px;
}

#level2leftcol img
{ 
  margin-top: .1em; 
}

#level2rightsidewrap
{
  width: 630px;
  float: right;
}

#level2centercol
{
  width: 430px;
  float: left;
  padding: 0px 10px 10px 10px;
}

#level2rightcol
{
  width: 150px;
  float: right;
}

/* end level2 */


/* start relatedlinks */

#relatedlinks h2
{
  margin: 0px;
  font-size: 80%;
  color:#36c;
  background-color: #f6faff;
}

#relatedlinks_maintemplate
{
  margin: 0px;
  font-size: 85%;
}

#relatedlinks_maintemplate h2
{
  margin: 0px;
  font-size: 14px;
}

/* end relatedlinks */


/* start events */

#events h2
{
  margin: 0px;
  font-size: 80%;
  color:#36c;
  background-color: #f6faff;
}

#events_maintemplate
{
  margin: 0px;
  font-size: 85%;
}

#events_maintemplate h2
{
  margin: 0px;
  font-size: 13px;
}

/* end events */


/* start didyouknow */

#didyouknow
{
  width: 140px;
  float: left;
  margin: 0 0 0 -15px;
  _margin: 0 0 0 0;
  padding: 10px 10px 10px 15px;
  color: #000;
  font-size: 80%;
  background-color: #f6faff;
  /*border: #336 1px dotted;*/
}

#didyouknow h2
{
  margin: 0 0 5px 0;
  /*_margin: 0 0 -15px 0;*/
  color:#36c;
}

#didyouknow p
{
  font-size: 110%;
  _font-size: 100%;
}

#didyouknow_maintemplate
{
  width: 130px;
  float: left;
  margin: 0 0 0 -15px;
  _margin: 0 0 0 -7px;
  padding: 10px 10px 10px 15px;
  _padding: 10px 10px 10px 14px;
  color: #000;
  font-size: 85%;
  background-color: #f6faff;
  /*border: #336 1px dotted;*/
}

#didyouknow_maintemplate h2
{
  margin: 0 0 5px 0;
  _margin: 0 0 -15px 0;
  font-size: 13px;
}

#didyouknow_hometemplate_sjsu4
{
  /*width: 130px;*/
  height: 120px;
  /*margin: 0 0 0 -15px;
  _margin: 0 0 0 -7px;
  padding: 0 10px 10px 15px;
  _padding: 0 10px 10px 14px;
  color: #000;*/
  /*font-size: 85%;*/
  /*background-color: #f6faff;*/
  /*border: #336 1px dotted;*/
}

#didyouknow_hometemplate_sjsu4 p
{
  padding: 0 15px;
  line-height: 20px;
  font-style: italic;
}


#didyouknow_hometemplate_sjsu4 h2
{
  margin: 0 0 5px 0;
  _margin: 0 0 -15px 0;
  /*font-size: 13px;*/
}

/* end didyouknow */

/* Utility classes */

#blue_edgebox
{
  width: 140px;
  float: right;
  text-align: right;
  margin: 0 -25px 0 0;
  _margin: 0;
  padding: 10px 15px 10px 10px;
  color: #000;
  font-size: 80%;
  background-color: #f6faff;
  /*border: #336 1px dotted;*/
}

/* Draw a yellow box around content */
.boxed { 
  border: 2px solid #FFB612;
  padding: 1em;
  margin: 0 0 20px 0;
  clear:both;
}

/* float an image to the left so that text wraps around it */
.image_floated_left
{
  float: left;
  margin: 15px;
  padding: 0px;
}

/* float an image to the left so that text wraps around it */
.image_floated_right
{
  float: right;
  margin: 15px;
  padding: 0px;
}

/* start quicklinks */
#quicklinks
{
  margin-top: 0;
  padding: 0 0 0 10px;
  font-size: 85%;
}

#quicklinks h2
{
  display: none;
}
/* end quicklinks */

/* start contactinfo */

#contactinfo
{
  margin: 10px 0px 0px 0px;
  _margin: 10px 0px 0px 15px;
  padding: 10px 0 0 0;
  color: #000;
  /*background-color: #fbfbfb;*/
  font-size: 85%;
}

#contactinfo h2
{
  display: none;
}

#contactinfo h3
{
  color:#36c;
  /*margin-top: 10px;
  _margin: 10px 0 -15px 0;*/
}

#contactinfo h4 {
  color:#36c;
  margin-top:0;
} 



/* end contactinfo */


/* start footer */

#footer 
{
  margin: 20px auto 0 auto;
  padding: 25px 0 40px 0;
  background: #EEF2F7 url(/SJSU/images/footer_stepdown.jpg) repeat-x;
  clear: both;
  width: 980px;
  height: 160px;
  text-align: left;
}

#footer ul
{
	margin: 0 0 0 20px;
	padding: 0;
	float: left;
	font-size: 8pt;
}

#footer ul.lead
{
	margin: 0 0 0 20px;
}

#footer ul li
{
	color: #28417C;
	list-style: none;
	list-style-image: none;
	line-height: 16px;
}

#footer ul li a
{
	color: #28417C;
}

/*#footer ul li.cat_heading
{
	color: #28417C;
	font-size: 95%;
	text-transform: uppercase;
	line-height: 24px;
}*/

#footer ul li.cat_heading h3
{
	color: #28417C;
	font-weight: bold;
	font-size: 95%;
	text-transform: uppercase;
	line-height: 24px;
}

#footer ul li.feedback
{
	line-height: 48px;
}

#footerlogo
{
	padding: 20px 0 0 0;
	width: 200px;
	float: right;
	margin: 0;
}

#footeraddress 
{
  width: 350px;
  margin: 23px 0 0 14px;
  float: left;
  text-align: left;
  vertical-align: baseline;
}

#footeraddress_toplevel
{
  width: 350px;
  margin: 8px 0 0 14px;
  float: left;
  text-align: left;
  vertical-align: baseline;
}

/* end footer */

/* global settings */
ul {
  list-style: square;
  text-indent: 0em;
  margin-left: 0px;
  padding-left: 1.5em;
  list-style-image: url("/SJSU/images/bullet_yelo_square.gif");
}

ul.listspace1px li {
  margin: 0 0 1px 0;
}

ul.listspace3px li {
  margin: 0 0 3px 0;
}

ul.listspace5px li {
  margin: 0 0 5px 0;
}

ul.quicklinks {
  list-style: square;
  text-indent: 0em;
  margin-left: 0px;
  padding-left: 1.5em;
  list-style-image: url("/SJSU/images/bullet_yelo_square.gif");
}

/*li {
  margin-top: 1em;
  font-size: 95%;
}

li ul li{
  margin-top: 0.5em;
}*/

fieldset legend { 
  font-weight: bold;
}

/* primary navigation definitions */
/* start primary_top */

.primary_top
{
	margin: 0 auto;
	text-align: center;
	width: 950px;
}

.primary_top h2
{
  display: none;
}

.primary_top ul
{
  margin: 0;
  padding: 0;
  font-size: 110%;
  font-weight: bold;
  text-align: left;
}

.primary_top ul li
{
  margin: 0 10px 0 0;
  padding: 0;
  line-height: 20px;
  display: inline;
  width: 1%;
  height: 1%;
}

.primary_top ul li a
{
  margin: 0;  /*distace between menu list elements*/
  padding: 0;
  width: 150px;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  width: 1%;
  height: 1%;
  display: inline;
}

.primary_top ul li a:hover
{
  border-bottom: 2px solid #36c;
  color: #36c;
  display: inline;
}

.primary_top ul li a:focus
{
  border-bottom: 2px solid #36c;
  color: #36c;
}

.primary_top ul li.current
{
  margin: 0 10px 0 0;  /*distace between selected and menu item to right*/
  padding: 0px;
  border-bottom: 2px solid #36c;
  color: #36c;
  display: inline;
  width: 1%;
  height: 1%;
}

.primary_top ul li.current a
{
  color: #36c;
}

/* end primary_top */

/* start secondary_side */
.secondary_side
{
  width: 150px;
}

.secondary_side h2
{
  display: none;
}

.secondary_side ul
{
  margin: 2px 0 40px -16px;
  _margin: 0 0 40px -4px;
  font-size: 86%;
  color: #36c;
}

.secondary_side ul li
{
  margin: 0 0 14px 0;
  _margin: 0 0 -2px 0;
  list-style-image: none;
  list-style-type: none;
}

.secondary_side ul li a
{
  display: block;
  padding: 0 0 0 2px;
  _padding: 0 0 0 5px;
  color:#36c;
  text-decoration: none;
}

.secondary_side a:hover
{
  margin: 0 0 0 -3px;
  color: #36c;
  border-left: 3px #36c solid;
}

.secondary_side li a:focus
{
  margin: 0 0 0 -3px;
  color: #36c;
  border-left: 3px #36c solid;
}
/* end secondary_side */


/* start secondary_side_news */
.secondary_side_news h2
{
  display: none;
}

.secondary_side_news ul
{
  float: left;
  width: auto;
  margin: 0 0 0 -22px;
  font-size: 13px;
  color: #36c;
}

.secondary_side_news ul li
{
  margin: 0 0 10px 0;
  _margin: 0 0 -6px 0;
  list-style-image: none;
  list-style-type: none;
  font-weight: bold;
  color: #000;
}

.secondary_side_news ul li a
{
  display: block;
  padding: 0 0 0 2px;
  _padding: 0 0 0 2px;
  color:#000;
  text-decoration: none;
}

/*.secondary_side_news a:hover
{
  margin: 0 0 0 -3px;
  color: #000;
  border-left: 3px #36c solid;
}*/

.secondary_side_news li a:focus
{
  margin: 0 0 0 -3px;
  color: #36c;
  border-left: 3px #36c solid;
}
/* end secondary_side_news */


/* start news detail formatting */
#nav_news_home
{
  float: left;
  width: 165px;
  margin: 0;
  padding: 0 0 10px 0;
}

#nav_news_home_banner
{
  float:left; 
  width:auto;
}

#nav_news_home_banner_caption
{
  float:right; 
  width: 165px; 
  margin-top:90px;
}

#news_img
{
  float: left;
  padding: 0;
  margin: 5px 15px 10px 0px;
  width: 200px;
}

#news_content
{
  float: right;
  width: 700px;
  _width: 695px;
  margin: 0 5px 0px -5px;
  padding: 0;
}

#news_home_wrapper
{
  width: 940px;
  _width: 980px;
  margin: 0 auto 0 auto;
  height: auto;
}

#wrapper_content_news
{
  width: 940px;
  _width: 980px;
  margin: 0 auto 20px auto;
}

#news_home_banner
{
  margin-bottom:70px;
}

#news_col_1_of_3
{
  float: left;
  width: 170px;
  margin-right: 8px;
  /*_width: 160px;*/
}

#news_col_2_of_3
{
  width: 425px;
  margin: 0 8px 0 35px;
  padding: 0 15px 0 0;
  float:left;
}

#news_col_3_of_3
{
  margin-top: 0;
  float: right;
  width: 200px;
}
/* end news detail formatting */


/* start print_and_email */

#print_and_email h2
{
  display: none;
}

#print_and_email
{
  text-align: right;
  padding-top: 5px;
  font-size: 75%;
}

#print_and_email a
{
  text-decoration:none;
  color: #36c;
}

#print_and_email a:hover
{
  text-decoration: underline;
  color: #36c;
}

#print_and_email a:focus
{
  text-decoration: underline;
  color: #36c;
}

/* end print_and_email */


/* start pagetitle */
/*#pagetitle
{
  margin: 0 0 15px 0;
}*/

#pagetitle h2
{
  margin: 0 0 15px 0;
  font-size: 150%;
}
/* end pagetitle */


/* start one column layout */
#col_1_of_1
{
  padding: 10px;
}
/* end one column */


/* start four column layout*/
#col_1_of_4
{ 
  color: #333;
  margin: 0px;
  padding: 10px;
  width: 171px;
  float: left;
}

#col_2_of_4
{ 
  color: #333;
  border-left: 1px solid #f1f1f1; 
  margin: 0px;
  padding: 10px;
  width: 171px;
  float: left;
}

#col_3_of_4
{ 
  color: #333;
  border-left: 1px solid #f1f1f1;
  margin: 0px;
  padding: 10px;
  width: 171px;
  float: left;
}

#col_4_of_4
{ 
  color: #333;
  border-left: 1px solid #f1f1f1;
  margin: 0px;
  padding: 10px;
  width: 171px;
  float: left;
}
/* end four column layout */


/* start legacy two column home layout */
#two_column_wrapper_home
{
  width: 740px;
  _width: 740px;
  margin: 0 auto;
}

#two_column_wrapper_home ul li
{
  margin: 0 0 3px 0;
}

#quicklinks_home
{
  margin: 0;
  _margin: 0 0 0 6px;
  padding: 10px 10px 10px 0;
  /*border: solid 6px #FAFAFA;*/
  /*border-left: 0px;*/
  /*background: #FBFBFB;*/
  width: 190px;
  float: left;
}

#quicklinks_home h2
{
  font-size: 110%;
}

#contact_home
{
  width: 200px;
  float: right;
  text-align: right;
  font-size: 11px;
  /*border: solid 6px #FAFAFA;
  background: #FBFBFB;*/
  color:#000;
  padding: 10px 0 0 0;
}

#contact_home h3
{
  font-size: 120%;
}
/* end legacy two column home layout */


/* start header title and paragraph formating hacks */
/*#col_2_of_2_home_a h2, */
#col_1_of_2_home_b h2, 
#col_2_of_2_home_b h2, 
#col_1_of_3_home h2,
#col_2_of_3_home h2,
#col_3_of_3_home h2,
#col_1_of_2_int h2,
#col_2_of_2_int h2,
#col_1_of_1_land h2, 
#col_1_of_2_land h2, 
#col_2_of_2_land h2, 
#col_1_of_3_land h2, 
#col_2_of_3_land h2, 
#col_3_of_3_land h2, 
#col_1_of_4_land h2, 
#col_2_of_4_land h2, 
#col_3_of_4_land h2, 
#col_4_of_4_land h2
{
  margin: 0 0 5px 0;
  _margin: 0 0 -15px 0;
}

#wrapper_content_home p, 
#one_column_wrapper p, 
#col_2_of_2_home_a p, 
#col_1_of_2_home_b p, 
#col_2_of_2_home_b p, 
#col_1_of_3_home p,
#col_2_of_3_home p,
#col_3_of_3_home p,
#col_1_of_1_int p,
#col_1_of_1_int_nofloat p,
#col_1_of_2_int p,
#col_2_of_2_int p,
#col_1_of_1_land p, 
#col_1_of_2_land p, 
#col_2_of_2_land p, 
#col_1_of_3_land p, 
#col_2_of_3_land p, 
#col_3_of_3_land p, 
#col_1_of_4_land p, 
#col_2_of_4_land p, 
#col_3_of_4_land p, 
#col_4_of_4_land p
{
  line-height: 17px; /*add 3px from original*/
  _line-height: 16px; /*subtract 1px from original*/
}
/* end header title and paragraph formating hacks */


/* start two columnA home layout */
#col_1_of_2_home_a
{
  float: left;
  width: 285px;
  margin: 0 10px 0 0;
}

#col_2_of_2_home_a
{
  float: right;
  width: 435px;
  padding: 0;
}
/* end two columnA home layout */


/* start two columnB home layout */
#col_1_of_2_home_b
{
  float: left;
  width: 480px;
  padding: 0 10px 0 0;
  margin: 0;
  border-right: 1px solid #f1f1f1;
}

#col_2_of_2_home_b
{
  float: right;
  width: 230px;
  margin: 0;
  padding: 0;
}
/* end two columnB home layout */


/* start three column home layout */
#col_1_of_3_home
{ 
  color: #333;
  margin: 0px;
  padding: 10px 15px 0 0;
  width: 220px;
  float: left;
}

#col_2_of_3_home
{ 
  color: #333;
  border-left: 1px solid #f1f1f1; 
  margin: 0px;
  padding: 10px 15px 0 15px;
  width: 220px;
  float: left;
}

#col_3_of_3_home
{ 
  color: #333;
  border-left: 1px solid #f1f1f1;
  margin: 0px;
  padding: 10px 15px 0 15px;
  width: 220px;
  float: left;
}
/* end three column home layout */


/* start two column intermediate page layout */
#body_wrapper_int
{
  width: 940px;
  _width: 980px;
  margin: 0 auto 0 auto;
  height: auto;
}

#body_wrapper_int ul li
{
  /*margin: 0 0 3px 0;*/
}

#nav_int
{
  float: left;
  width: 200px;
  _width: 215px;
  margin: 0;
  padding: 0px 15px 10px 0px;
}

#nav_int_maintemplate
{
  float: left;
  width: 200px;
  margin: 0;
  padding: 0px 0 10px 0px;
  _padding: 0px 0 10px 15px;
}

#col_1_of_1_int, #content_wrapper_int
{
  float: right;
  width: 565px;
  margin: 0 8px 0 0;
  padding: 0;
}

#col_1_of_1_int ul li, 
#col_1_of_2_int ul li, 
#col_2_of_2_int ul li, 
#col_1_of_1_int_nofloat ul li,
#wrapper_content_home ul li, 
#col_2_of_2_home_a ul li, 
#col_1_of_2_home_b ul li, 
#col_2_of_2_home_b ul li, 
#col_1_of_3_home ul li, 
#col_2_of_3_home ul li, 
#col_3_of_3_home ul li, 
#one_column_wrapper ul li, 
#col_1_of_1_land_nofloat ul li, 
#col_1_of_2_land ul li, 
#col_2_of_2_land ul li, 
#col_1_of_3_land ul li, 
#col_2_of_3_land ul li, 
#col_3_of_3_land ul li,
#col_1_of_4_land ul li,
#col_2_of_4_land ul li,
#col_3_of_4_land ul li,
#col_4_of_4_land ul li
{
  margin: 0 0 3px 0;
}

#col_1_of_1_int_maintemplate
{
  float: right;
  width: 700px;
  _width: 705px;
  margin: 0 10px 0px 0;
  padding: 0;
}

#col_1_of_1_int_img
{
  float: left;
  padding: 0;
  margin: 5px 15px 0px 0px;
  _margin: 5px 18px 10px 0px;
  width: 138px;
}

#col_1_of_1_int_img p
{
  margin-top: 0;
}

#col_1_of_1_int_nofloat
{
  float: right;
  width: 405px;
  margin: 0 0px 0px -3px;
  padding: 0;
}

#col_1_of_2_int
{
  float: left;
  width: 360px;
  margin: 0;
  padding-right: 10px;
  border-right: 1px solid #f1f1f1;
}

#col_2_of_2_int
{
  float: right;
  width: 180px;
  _width: 180px;
  margin: 0;
  padding: 0;
}
/* end two column intermediate page layout */


/* start landing page layouts */
#col_1_of_1_land
{
  width: 740px;
  _width: 740px;
  margin: 0 auto;
  /*_margin-left: 12px;*/
}

#col_1_of_1_land_img
{
  float: left;
  padding: 0;
  margin: 5px 15px 10px 0px;
  width: 138px;
}

#col_1_of_1_land_img p
{
  margin-top: 0;
}

#col_1_of_1_land_nofloat
{
  float: right;
  width: 580px;
  _width: 575px;
  margin: 0 5px 0px -5px;
  padding: 0;
}

#col_1_of_2_land
{
  float: left;
  width: 480px;
  margin: 0;
  padding: 0 10px 0 0;
  border-right: 1px solid #f1f1f1;
}

#col_2_of_2_land
{
  float: right;
  width: 230px;
  margin: 0;
  padding: 0;
}

#col_1_of_3_land
{ 
  color: #333;
  margin: 0px;
  padding: 0 15px 0 0;
  width: 220px;
  float: left;
}

#col_2_of_3_land
{ 
  color: #333;
  border-left: 1px solid #f1f1f1; 
  margin: 0px;
  padding: 0 15px 0 15px;
  width: 220px;
  float: left;
}

#col_3_of_3_land
{ 
  color: #333;
  border-left: 1px solid #f1f1f1;
  margin: 0px;
  padding: 0 15px 0 15px;
  width: 220px;
  float: left;
}

#col_1_of_4_land
{ 
  color: #333;
  margin: 0px;
  padding: 0 10px 0 0;
  width: 165px;
  float: left;
}

#col_2_of_4_land
{ 
  color: #333;
  border-left: 1px solid #f1f1f1; 
  margin: 0px;
  padding: 0 10px 0 10px;
  width: 165px;
  float: left;
}

#col_3_of_4_land
{ 
  color: #333;
  border-left: 1px solid #f1f1f1;
  margin: 0px;
  padding: 0 10px 0 10px;
  width: 165px;
  float: left;
}

#col_4_of_4_land
{ 
  color: #333;
  border-left: 1px solid #f1f1f1;
  margin: 0px;
  padding: 0 10px 0 10px;
  width: 165px;
  float: left;
}
/* end landing page layouts */


/* start three column layout */
#three_column_wrapper
{
  clear: both;
  width: 740px;
  _width: 770px;
  margin: 15px auto 0 auto;
}

#col_1_of_3
{
  float: left;
  width: 140px;
  _width: 137px;
  margin-right: 8px;
  /*_width: 160px;*/
}

#col_2_of_3
{
  width: 365px;
  margin-right: 8px;
  padding: 0px 15px 0px 15px;
  float:left;
}

#col_3_of_3
{
  margin-top: 0;
  float: right;
  width: 185px;
  _width: 190px;
}
/* end three column layout */ 

/* start one column layout */ 
#one_column_wrapper
{
  width: 940px;
  _width: 980px;
  font-size: 95%;
  margin: 0 auto 20px auto;
}

#one_column_wrapper ul li
{
  margin: 0 0 3px 0;
}

#one_column_wrapper_home
{
  width: 980px;
  min-height: 550px;
  font-size: 95%;
  margin: 25px auto 20px auto;
}

#one_column_wrapper_home_cal
{
  width: 950px;
  font-size: 95%;
  margin: 25px auto 20px auto;
}

#one_column_wrapper_home_cal table
{
	clear: left;
	/*margin-top: 15px;*/
}

#one_column_wrapper_home_cal #table1
{
	clear: left;
	margin-top: 20px;
}

#one_column_wrapper_home h2.bucket
{
	border-bottom: 1px dotted #ccc;
	padding: 0 0 5px 0;
	margin: 0 0 15px 0;
}

#one_column_wrapper_splash
{
  width: 770px;
  font-size: 95%;
  margin: 0 auto 20px auto;
}
/* end one column layout */ 


/* legacy subsite home layout */
#legacy_home_center
{
  width: 740px;
  font-size: 95%;
  margin: auto;
}

#legacy_home_left
{
  float: left;
  width: 145px;
  _width: 160px;
  padding: 0px 10px 10px 0px;
}

#legacy_home_right
{
  float: right;
  width: 570px;
  margin: 10px 10px 0px 0px;
  padding: 0;
}

#legacy_home_right_img
{
  float: left;
  padding: 0;
  margin: 5px 15px 15px 0px;
  width: auto;
}

#legacy_home_quick_links
{
  width: 202px;
  float: left;
}

#legacy_home_contact
{
  width: 198px;
  float: right;
  text-align: right;
  font-size: 11px;
  border: solid 6px #FAFAFA;
  background: #FBFBFB;
  color:#000;
  padding: 15px;
}

#legacy_home_contact h2
{
  display: none;
}

#legacy_home_contact h3
{
  color:#36c;
  background-color:#ffffe3;
  margin-top:0;
} 
/* end legacy subsite home layout */ 


/* start SJSU */ 
#globalnav input#search 
{
	margin: 0;
	padding: 2px;
	color: #999;
	border: 1px solid #fff;
	background: #FFF;
}

.quicklinks{clear:both;}

.searchbox{width:auto;float:left;margin:30px 0 10px 0;}

.searchbox_adv{width:100%;float:left;margin:30px 0 10px 0;}

.searchbox h2{padding:0; _margin-bottom:-20px;}

.searchbox_links{padding:0; margin:0; font-size:90%;}

.advsearchbox_links{padding:0; margin:0; font-size:90%; clear: both;}

.search_refine_advanced{float:left; margin-top:47px; _margin-top:50px; margin-left:20px; font-size:90%;}

.advsearch_refine_advanced{float: left; margin-top: 10px; font-size:90%; width:400px; vertical-align:top;}

.search_gobutton{float: left; margin: 10px 10px 0 0; width:auto;}

.quicklinks{padding:0; _margin-top:-10px; margin-bottom:30px;}

.quicklinks h2{padding:0; _margin-bottom:-20px;}
/* end SJSU Search */ 


/* start Colleges & Departments */ 



/* end Colleges & Departments */ 
#related_info
{
  clear: left;
  float: left;
  width: 150px;
  _width: 165px;
  margin: 0 -3px 0 0;
  padding: 0px 15px 10px 0px;
}


/* start XStandard Formatting Definitions */
.underline
{
  text-decoration:underline;
}

.strikethrough
{
  text-decoration:line-through;
}
/* end XStandard Formatting Definitions */


/* start Google Apps Definitions */
.googleapps
{ 
  float: left;
  width: 210px;
  margin: 0 25px 0 0;
}

.googleapps ul
{ 
  list-style: none;
  margin: 0 0 0 -18px;
}

.googleapps ul li
{
  float: left;
  /*text-align: left;*/
  display: block;
  padding: 20px 0 0 0;
}

.googleapps ul li span
{
  margin: 0 0 0 0;
  text-align: left;
  float: right;
  width: 160px;
}

.googleapps ul li img
{
  float: left;
  display: inline;
  vertical-align: top;
}
/* start Google Apps Definitions */


/* start print logo */
#printlogo
{
  display: none;
}
/* end print logo */


/* start WebsiteBuildier Definitions */
.course_sec_links,
.course_sec_materials
{
	margin-left: 25px;
}

.course_sec_links p, 
.course_sec_materials p
{
	font-weight: bold;
}

#addtl_contact_info
{
	font-size: 90%;
}

.preview_mode
{
	clear: both;
	width: 771px;
	margin: 15px auto;
	padding: 10px 0;
	color: #039;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	background: #def;
}

.preview_mode a
{	
	font-size: 80%;
	font-weight: normal;
}

#inactive_mode
{
	width: 771px;
	margin: 15px auto;
	padding: 10px 0;
	color: #666;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	background: #f0f0f0;
}



#facingpg_education,
#facingpg_liccert,
#facingpg_bio,
#facingpg_links,
#facingpg_expertise,
#facingpg_internationalinterest
{
	margin: 45px 0 0 0;
	padding: 10px 0 0 0;
	border-top:thin solid #36c;
}

.facingpg_course_sect h4
{
	color: #000;
}

.inactive, 
div.inactive h3, 
div.inactive h4,
div.inactive a
{
	color: #666;
	background: #efefef;
}

#disclaimer_people
{
	/*border: thin solid black; */
	/*background: #ffc;*/
	text-align: right;
	font-size: 95%;
	font-style: italic;
}

.text_blue
{
	color: #36c;
}

#experts_checkboxes {
	margin: 10px 0 0 0;
}

#experts_checkboxes img {
	vertical-align: middle;
}

.experts_checkboxes_unit { 
	border: 1px solid;
	width: auto;
	margin: 0 0 0 15px;
}



/* start calendar hacks */

#CalendarGrid1 {
	
}

#pnlHideHead {
	margin: 0 0 20px 0 !important;
}

#pnlListviewHeading {
	padding: 0 0 5px 0;
}

#pnlHideSearch {
	padding: 0 10px 0 0;
}

#pnlHideSearch table tr td hr {
	border: #FFF;
	color:none;
	margin:30px 0;
}

#pnlHideSearch a#lbtnSearch {
	background:#C1D5EA none;
	color:#15274D;
	float:right;
	margin-top:5px;
	padding:5px;
	text-decoration:none;
}

#lblAdvancedSearch {
	color: #214380 !important;
}

#lbtnNewSearch {
	display: none;
}

#lblCategoryHeading {
	/*font-size: 150%;*/
}

#tblHighlight .highlightheadertext {
	/*color: #214380;*/
	padding-bottom:5px;
	padding: 5px 0 10px 8px;
}

#tblHighlight .listheadtext {
	background: none !important;
	border-top:1px dotted #888888 !important;
	font-size:130% !important;
	height:10px !important;
	vertical-align:bottom !important;
}

#tblHighlight	 {
	border: none !important;
	background: #FFF5C9 !important;
	padding: 10px 5px;
}

#tblEvents {
	padding: 5px;
}

#tblEvents tr {
	padding: 0 0 0 8px !important;
}

#divTableEventsHighlighted {
	margin: 10px 0 30px 0;
}

#divTableEventsHighlighted .listbodytextalt{
	background: none !important;
}

table#tblEvents tr td {
	border-right: 3px solid #FFFFFF;
}

#divTableEventsHighlighted .listheadtext{
	background: none !important;
	border-top:1px solid #C79900 !important;
}


.listcolumnheadtext {
	/* display: none !important; */
	font-size: 1.2em;
}


.listheadtext {
	background: none !important;
	border-top:1px solid #C79900 !important;
	margin: 0;
	padding: 10px 0 10px 8px;
	font-size:120% !important;
	font-weight: bold !important;
	color: #222 !important;
	vertical-align:bottom !important;
	/*border-bottom:1px dotted #888888 !important;*/
}

.listbodytext a, .listbodytextalt a {
	border-bottom: 1px dotted #15274D;
}

.listbodytext a:hover, .listbodytextalt a:hover {
	border-bottom: 1px dotted #3C75B1;
	text-decoration: none;
}

.listbodytextalt {
	/*border-bottom:1px dotted #888888 !important;*/
	background: none !important;
}

.listbodytext, .listbodytextalt {
	font-size: 110% !important;
	color: #333;
	padding: 5px 8px;
	background: none !important;
}

.listbodytext a.listtext, .listbodytextalt a.listtext, .listbodytext a.listtext:hover, .listbodytextalt a.listtext:hover {
	border: none !important;
	text-decoration: none !important;
	background: none !important;
	color: #15274D;
}



.eventlistdiv a:hover {
	color: #15274D;
}	




/* detail view */

.dayheaderSmallGrid {
	text-align: left;
	margin-left: 8px;
}

#pnlEventDetails {
	margin-top: 0;
	padding-top: 0;
	
}

#pnlEventDetails table tr td {
	vertical-align: top;
	
}

.dayheaderSmallGrid {
	background: none !important;
	padding: 10px 0 5px 0;
}

.detailsview {
}

.detailsview a {
	text-decoration: none !important;
	border-bottom: 1px dotted #15274D;
	color: #15274D;
}

.detailsview a:hover {
	text-decoration: none !important;
	border-bottom: 1px dotted #3C75B1;
	color: #3C75B1;
}

.detailsview a u{
	text-decoration: none !important;
}


.detailsview u, .detailsview ins {
	text-decoration: underline;
	color: #15274D;
}

.detailsview u:hover, .detailsview ins:hover {
	text-decoration: none !important;
	border-bottom: 1px dotted #3C75B1;
	color: #3C75B1;
}




/* nav styles */

 .primary_top
{
	_padding: 0 15px;
	_margin: 0 0 0 15px;
	margin: 6px 0 15px 0;
	float: left;
}

 .primary_top ul.lead
{
	border: 0;
	margin: 0;
	padding: 0;
	float: left;
}

 .primary_top ul
{
	border: none;
	margin: 0 0 0 30px;
	padding: 0;
	float: left;
	/*font-size: 8pt;*/
}

 .primary_top ul li
{
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
	height: 18px;
	display: block;
	text-decoration: none;
	border-bottom: 2px solid #fff;
}

 .primary_top ul li.current
{
	text-decoration: none;
	/*border-bottom: 2px solid #36c;*/
}

 .primary_top ul li.current a
{
	text-decoration: none;
	border-bottom: 2px solid #36c;
}

 .primary_top ul li a
{
	margin: 0;
	padding: 0;
	border: none;
	height: 1%;
	text-decoration: none; 
}

 .primary_top ul li a:hover
{
	text-decoration: none; 
	border-bottom: 2px solid #36c;
	color: #36c;
}

 .private ul li
{
	margin: 0 10px 0 0;
	padding: 0;
	line-height: 20px;
	display: inline;
	width: 1%;
	height: 1%;
	
}

.dayheader {
	color:#FFF !important;
}

.dayheader a{
	color:#FFF !important;
}

.dayheaderSmallGrid {
	color: #214380 !important;
}

#PageTable
{
	margin: 15px 0 0 0;
	
}

.eventlistdiv {
	_width: 960px;
}

#ibtnDay, #ibtnWeek, #ibtnMonth, #ibtnYear {
	display: none;
}

/* end calendar hacks */





		
  <!-- begin header include -->
    <!-- start style -->

<style type="text/css">

.hidden {margin-left:-999em;}

.primary_top
{
  padding:20px 0;
  margin:5px 0 20px;
  border-top:1px solid #c1c1c1;
  border-bottom:1px solid #c1c1c1;
  width:950px;
  float: left;
}

.primary_top ul
{

  margin: 0 0 0 40px;
  padding: 0;
  float: left;
    text-align: left;
}

.primary_top ul.lead
{
  margin: 0;
}

.primary_top li
{
  list-style: none;
  list-style-image: none; 
  display:block;
  line-height:2;
  font-size:125%;
}

.primary_top a
{
  padding: 5px 10px;
  color:#005a8b;
  text-decoration: none;
}

.primary_top li.current a
{
  font-weight:bold;
  color:#fff;
  background-color:#005a8b;
}

.primary_top a:hover, .primary_top a:active, .primary_top a:focus
{
  color:#c79900;
}


/* <RESKIN> */


 #one_column_wrapper_home_cal {clear:both;}

html {background-color:#e2dacf;}

body {
  /* background: url(/SJSU/images/bg_shadow.jpg) repeat-y top center; bds */
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 12px;
  color: #222;
  margin: 0px;
  padding: 0px;
  margin: 0 auto;
  text-align: center;
  background-color:#e2dacf;
}

#bg {
  width:985px;
  margin:0 auto;
  padding-left:15px;
  background:url(http://www.sjsu.edu/assets/images/bg_mid.png) top left repeat-y;
  /*overflow: hidden;*/
  overflow: visible;
  display: table;
}
#container {
  position: relative;
  display: block;
  float: left;
  width:960px;
  min-height:100%;
  background:url(http://www.sjsu.edu/assets/images/bg_left.jpg) top left no-repeat #fff;
  padding-left:65px;
  /*overflow: hidden;*/
  overflow: visible;
  display: table-row;
}

.boxWrapper {width:500px; margin-left:180px;}

#sjsuhomelink {
  position: absolute;
  left: 0; top: 0;
  width: 30px;
  height: 160px; /* 2012-02-08 cjo */
  border: none; /* 2011-12-09 cjo */
}

.pageTitle {
font-size: 250%;
margin:10px 0;
padding: 0;
font-weight: normal;
font-family: Georgia,Times,"Times New Roman",serif;
color: rgb(0,90,139);
text-align: left;}

.footerAddress {
  clear:both;
    margin:12px 0;
    text-align: left;
}
.footerAddress h3 {font-size:87.5%; margin:0 0 4px; color:#000;}
.footerAddress p {font-size: 87.5%; margin:0 0 4px; line-height:1.2;}
.footerAddress img {float:left; margin-right:40px;}
.footerAddress span {font-size:75%; color:#666;}



/* end primary_top */

/* </RESKIN> */
