/*
 * jQuery Nivo Slider v2.3
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0em;
	left:0em;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0em;
	left:0em;
	width:100%;
	height:100%;
	border:0em;
	padding:0em;
	margin:0em;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	/* left:1.2em; NEW OVERLAY 2011-11-21 cjo */
	top: 247px; /* 24em NEW OVERLAY 2011-11-21 cjo */
	left: 0px; /* NEW OVERLAY 2011-11-21 cjo */
	background:url(/sjsuhome/assets/images/caption-bg-blue-90.png) repeat; /* 2012-01-27 cjo */
	color:#fff;
	width:540px; /* 52em NEW OVERLAY 2011-11-21 cjo */
	z-index:10000; /* NEW OVERLAY 2011-11-21 cjo */
	padding: 13px 120px 0 0; /* 1em 14em 0 0 NEW OVERLAY 2011-11-21 cjo */
	height: 80px; /* 9em NEW OVERLAY 2011-11-21 cjo */
	overflow:hidden; /* NEW OVERLAY 2011-11-21 cjo */
}

/* @-moz-document url-prefix() {} */


.nivo-caption p {
	padding:0em;
	margin:0em;
	/* font:normal 1em/1.5em Verdana, Geneva, sans-serif; */
	font:normal 1.04em/1.5em Verdana, Geneva, sans-serif; /* 2012-02-01 cjo */
	color:#fff;
}

.nivo-caption p:first-child { /* NEW OVERLAY 2011-11-21 cjo */
	padding-left:20px;	
}

.nivo-caption p:nth-last-child { /* NEW OVERLAY 2011-11-21 cjo */
}

.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0em;
}
.nivo-nextNav {
	right:0em;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:300;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/
#slider-wrapper {
	width:60em; 
	height:30.909em; 
	padding:0em;
}

.home-slider-wrapper {
	width:62.273em; 
	height:30.909em; 
	padding:0em;
}

#slider-wrapper p {
	padding-bottom:1em; 
	font-family:Verdana, Geneva, sans-serif; 
	font-size:1.03em; /* 2012-02-01 cjo */
	color:#fff; 
	margin-top:-0.2em; /* 2012-02-01 cjo */
}

#slider {
	position:relative;
	z-index:9998; /* NEW OVERLAY 2011-11-21 cjo */
    width:60em;
    height:30.909em;
	background:url(/sjsuhome/assets/images/loading.gif) no-repeat 50% 50%;
}
.home-slider {
	position:relative;
    width:62.273em;
    height:30.909em;
	background:url(/sjsuhome/assets/images/loading.gif) no-repeat 50% 50%;
}

#slider img {
	position:absolute;
	top:0em;
	left:0em;
	display:none;
}
#slider a {
	border:0em;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	z-index:10001; /* NEW OVERLAY 2011-11-21 cjo */
	right:1.364em;
	bottom:1.364em;
}
.nivo-controlNav a, .nivo-controlNav a:visited {
	padding-right:0.909em;
	display:block;
	width:0.909em;
	height:0.818em;
	background:url(/sjsuhome/assets/images/bullets.png) 0px 0px no-repeat;
	text-indent:-909em;
	border:0em;
	float:left;
	overflow:hidden;
}

.nivo-controlNav a:last-child, .nivo-controlNav a:visited:last-child {
	padding-right:1.818em;
	display:block;
	width:0.909em;
	height:0.818em;
	background:url(/sjsuhome/assets/images/bullets.png) 0px 0px no-repeat; 
	text-indent:-909em;
	border:0em;
	float:left;
	overflow:hidden;
}

.nivo-controlNav a:hover, .nivo-controlNav a:active {
	background-position:0em -1.636em;
}

.nivo-controlNav a.active {
	background-position:0em -0.818em;
}

.nivo-directionNav a {
	display:block;
	width:2.727em;
	height:2.727em;
	background:url(/sjsuhome/assets/images/arrows.png) no-repeat; /* Was an internal link - NEW OVERLAY 2011-11-21 cjo */
	text-indent:-9909em;
	border:0em;
}
a.nivo-nextNav {
	background-position:-2.727em 0em;
	right:1.364em;
}
a.nivo-prevNav {
	left:1.364em;
}

.nivo-caption {
    text-shadow:none;
    font-family: Verdana, Geneva, sans-serif;
	font-size:0.909em;
}

.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

.nivo-caption-arrow { /* NEW OVERLAY 2011-11-21 cjo */
	position:absolute; 
	z-index:12000; 
	width:1.4em;
	height:2em; 
	background: none \0/;
	background:url(/sjsuhome/assets/images/bullet_marker.png) no-repeat; 
	top:31.2em;
	right:-0.2em;
}
