html, body {
	width:100%;
	min-height: 100%;
	background:url(/sjsuhome/assets/images/bg-pattern-sjsu-02.png) top right no-repeat #e6e6e0;
	margin:0;
}

#bg {
	width:985px;
	min-height:100%;
	margin:0 auto;
	padding-left:15px;
	background:none;
	/*overflow: hidden;*/
	overflow: visible;
	display: table;
}
#container {
	position: relative;
	display: block;
	float: left;
	width:895px;
	min-height:700px;
	background:url(/sjsuhome/assets/images/bg-left-sjsu-02.png) top left no-repeat #fff;
	padding-left:65px;
	/*overflow: hidden;*/
	overflow: visible;
	display: table-row;
}

#sjsuhomelink {
	position: absolute;
	left: 0; top: 0;
	width: 30px;
	height: 150px;
}

.searchfeedbacktext {
	display:block;
	float:left;
	margin:8px 0 16px 7px;
	font-size:87.5%;
	color:#00c;
	text-decoration:underline;}
	.searchfeedbacktext:visited {color:#00c;}

/* page title */
.subsite_name {
	font-size: 225%;
	margin:22px 0 12px;
	padding:0;
	line-height:1;
	font-weight: normal;
	font-style: normal;
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #005a8b;
}

/* search box */
#q {
	float:left;
	font-size:16px;
	line-height:1;
	background:#fff;
	color:#000;
	font-family:Verdana, Geneva, sans-serif;
	border: 1px solid #005a8b;
	padding:2px 4px;
	margin:0;
	height:34px;
	-moz-box-shadow: 3px 3px 7px #eee;
	-webkit-box-shadow: 3px 3px 7px #eee;
	box-shadow: inset 2px 2px 3px #ddd;
}

/* search button */
button[name="btnG"] {
	display:block;
	float:left;
	width:42px;
	height:34px;
	background:url(/sjsuhome/assets/images/btnSearchBlueBox.jpg) no-repeat center;
	border:none;
	text-indent:-999em;
	background-color:#005a8b;
	cursor:pointer;
}

.searchRB {border-top:1px solid #005a8b;}

/* typeahead dropdown box styling" */
.tt-hint {display:none;}

.twitter-typeahead {float:left;}

.tt-suggestion p {
 line-height:1;
 padding:0;
 margin:0;
 background-color:#fff;
 color:#005a8b;
 font-family: Verdana,Geneva,sans-serif;
 border-left-style:solid;
 border-left-width:3px;
 border-left-color:#fff;
}

.tt-dropdown-menu {
min-width:504px;
padding:6px;
margin-top:-1px;
border:1px solid #005a8b;
background-color:#fff;
color:#005a8b;
z-index:110;}

/*
.tt-suggestion p a {
	display:block;
	padding:6px;
}
*/
/* styles-search.css variation: doesn't use <a> elements inside of <p> elements */
.tt-suggestion p {padding:6px;}

.tt-suggestion p a:link,
.tt-suggestion p a:visited {
	color:#005a8b;
	text-decoration:none;}    

.tt-is-under-cursor p {
	color:#005a8b;
	background-color:#fff;
	border-left-color:#005a8b;}


	.tt-suggestion.tt-is-under-cursor p a:link {color:#005a8b; text-decoration:underline;}
	#top_subsite .tt-suggestion p a:link {color: #005a8b;}				
	.tt-is-under-cursor p a:hover, .tt-suggestion p a:focus, .tt-suggestion p a:active {color:#005a8b; text-decoration: underline;}



/* search page footer */
.footerAddress {
	clear:both;
    margin:12px 0;
}
.footerAddress h3 {font-size:87.5%; margin:0 0 4px;}
.footerAddress p {font-size: 87.5%; margin:0; line-height:1.2;}
.footerAddress img {float:left; margin-right:40px;}
.footerAddress span {font-size:75%; color:#666;}