<?xml version="1.0" encoding="utf-8"?>
<?pcf-stylesheet path="/_resources/xsl/default.xsl" site="templates" extension="html"?>
<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd">

<document>
	<headcode>
	<style type="text/css">
    /* Widget content container */
   #goog-wm { }

    /* Heading for "Closest match"
   #goog-wm h3.closest-match { }

    /* "Closest match" link
   #goog-wm h3.closest-match a { }

    /* Heading for "Other things" */
   #goog-wm h3.other-things { }

    /* "Other things" list item */
   #goog-wm ul li { }

    /* Site search box */
   #goog-wm li.search-goog { display: list-item; }
		
#goog-wm-qt {
	float:left;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #005A8B;
    box-shadow: 2px 2px 3px #DDDDDD inset;
    color: #000000;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 16px;
    height: 34px;
    line-height: 1;
    margin: 0;
    padding: 2px 4px;
}

#goog-wm-sb {
	display:block;
	width:48px;
	height:40px;
	background:url(/sjsuhome/assets/images/btnSearchBlueBox.jpg) no-repeat center;
	border:none;
	text-indent:-999em;
	background-color:#005a8b;
	cursor:pointer;
		float:left;
}	
		
	.tt-dropdown-menu {min-width:400px;}
   </style>
	</headcode>
	<bodycode></bodycode>
	<footcode></footcode>
	<breadcrumb>off</breadcrumb>
		<!-- com.omniupdate.properties -->
			<title>Page not found</title>
		<!-- /com.omniupdate.properties -->
	<config>
		<parameter name="pagetype">top-level_interior</parameter>
		<parameter name="exception">404</parameter>
		<!-- com.omniupdate.properties -->
		<parameter name="columns" type="select" group="Everyone" prompt="Number of Columns" alt="How many columns do you want your page to have?">
<option value="1col" selected="true">One Column</option>
<option value="2col" selected="false">Two Columns</option>
<option value="3col" selected="false">Three Columns</option>
</parameter>
		
 		<parameter name="sitemap" type="radio" group="Everyone" prompt="Sitemap" alt="Include page in sitemap?">
<option value="yes" selected="false">yes</option>
<option value="no" selected="true">no</option>
</parameter>		
		<parameter name="breadcrumbToggle" type="radio" group="Everyone" prompt="Breadcrumb" alt="Show breadcrumb?">
<option value="yes" selected="false">yes</option>
<option value="no" selected="true">no</option>
</parameter>
		<parameter name="searchBoxToggle" type="radio" group="Everyone" prompt="Search Box" alt="Show search box?">
<option value="yes" selected="false">yes</option>
<option value="no" selected="true">no</option>
</parameter>
		<parameter name="sidenavToggle" type="radio" group="Everyone" prompt="Sidenav" alt="Show sidebar navigation?">
<option value="yes" selected="false">yes</option>
<option value="no" selected="true">no</option>
</parameter>			
			<parameter name="primarynav" prompt="Primary Nav order" group="Everyone" alt="Order to appear in Primary Navigation."></parameter>
		<!-- /com.omniupdate.properties -->
	</config>
	<metadata>
		<!-- com.omniupdate.properties -->
			<meta name="description" content="" />
			<meta name="keywords" content="" />
			<meta name="author" content="" />
		<!-- /com.omniupdate.properties -->
	</metadata>
	<maincontent>
		<column_one>
		<!-- com.omniupdate.div  label="column_one"  group="Everyone"  button="707"  break="break" -->
		<!-- com.omniupdate.editor csspath="/includes/ou/editor/1column/column_one.css" cssmenu="/includes/ou/editor/content.txt" width="955" -->
		<!-- /com.omniupdate.div -->
		</column_one>
		<column_two>
		<!-- com.omniupdate.div  label="column_two"  group="Everyone"  button="707"  break="break" --><!-- ouc:editor csspath="/includes/ou/editor/1column/column_two.css" cssmenu="/includes/ou/editor/content.txt" width="955"/ --><p>The page you requested cannot be found. You may have used an outdated link or may have typed the address (URL) incorrectly. If you entered the URL manually, please check your spelling and try again.</p>
<p>{{a:22273}}<br /><br /></p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p><!-- /com.omniupdate.div -->
		</column_two>
		<column_three>
		<!-- com.omniupdate.div  label="column_three"  group="Everyone"  button="707"  break="break" -->
		<!-- com.omniupdate.editor  csspath="/includes/ou/editor/1column/column_three.css"  cssmenu="/includes/ou/editor/content.txt"  width="955" -->
		<!-- /com.omniupdate.div -->
		</column_three>
	</maincontent>
</document>
