
.ldp--poll-graph {
  position: relative;
  width:300px;
}
  .col-3 .left .ldp--poll-graph, .col-2 .left .ldp--poll-graph, .secnav_subsite .ldp--poll-graph {width:160px;}


.ldp--poll-form {float:left;}


.ldp--poll-bar-title {
  position: relative;
  line-height: 1.2;
  font-weight: bold;
  font-size:87.5%;
  margin-bottom:3px;
  width:300px;
}
.col-3 .left .ldp--poll-bar-title, .col-2 .left .ldp--poll-bar-title, .secnav_subsite .ldp--poll-bar-title {width:160px;}


.ldp--poll-bar-container {
  position: relative;
  float: left;
  height: 10px;
  margin: 0px 0px 12px;
  width:300px;
}
  .col-3 .left .ldp--poll-bar-container, .col-2 .left .ldp--poll-bar-container, .secnav_subsite .ldp--poll-bar-container {width:160px;}


.ldp--poll-bar-container div {
  height: 16px;
  background-color: #005a8b;
}


.ldp--poll-bar-container strong {
  position: absolute;
  left: 5px;
  top: 0px;
  overflow: hidden;
  color: #FFF;
  line-height:1.2;
  font-size:75%;
  
}


.ldp--poll-results  {
  display:none;
}

.ldp--poll-results h3 {
    color: #333;
    text-rendering: optimizelegibility;
}


.ldp--poll-container {
    background: #e5e5e5;
    padding:10px;
    width:300px; 
}
  .col-3 .left .ldp--poll-container, .col-2 .left .ldp--poll-container, .secnav_subsite .ldp--poll-container {width:160px;}

.left .ldp--poll-container p, .middle .ldp--poll-container p, .right .ldp--poll-container p {float:left; clear:left;}

#ldp-poll input#button{
    padding:5px;
    min-width:68px;
  clear:both;
}
.results,a.poll-back{
  font-size: 87.5%;
  float:left;
  clear:both;
  display:block;
  margin-bottom:10px;
}