.ldp--thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}
/* additional code to override specificity in styles-em.css */
.left .ldp--thumbnails, .middle .ldp--thumbnails, .right .ldp--thumbnails {margin:0 0 0 -20px; padding:0;}

.ldp--thumbnails:before,
.ldp--thumbnails:after {
  display: table;
  content: "";
}
.ldp--thumbnails:after {
  clear: both;
}
.row-fluid .ldp--thumbnails {
  margin-left: 0;
}
.ldp--thumbnails > li {
  float: left;
  margin-bottom: 10px;
  margin-left: 10px;
}
.ldp--thumbnail {
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #e5e5e5;
  }
a.ldp--thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.ldp--thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.ldp--thumbnail .caption {
  padding: 9px;
}