@media print {
  #doodlelink {display:none;}
  #sjsuhomelink {display:none;}
  .subsitetitle {display:none;}  
  .acc {display:none;}
  .nav-main {display:none;}
  #slider img {display:block !important; visibility: visible !important;}
  .nivo-caption {display:none;}
  .nivo-controlNav {display:none;}
  .nivo-directionNav {display:none;}
  .nivo-slice {display:none;}  
  .secnav {display:none;}
  .contact-info {display:none;}
  #breadcrumb {display:none;}
  #quickicons {display:none;}
  #socialicons {display:none;}
  .homepagequicklinks {display:none;}
  #footer {display:none;}

  #search_home {display:none;}
  

  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }

#bg:before {
  content: "San Jose State University";
  font-size:24px;
  font-family:'AbsaraSansOT-bold', Verdana, sans-serif;
}

  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  a[href^="#"]:after {
    content: "";
  }
  #top_subsite a[class^="title"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 2cm .5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
  input,label,select,textarea{float:left;clear:both;}
}