@charset "utf-8";
/* CSS Document */

.nivo-controlNav a {background:url(/sjsuhome/assets/images/bullets.gif) 0em 0em no-repeat;}
nivo-controlNav{right:2.273em;}

#globalnav {
	clear: both;
}

.footernav {
	clear: both;
}
.footernav .col ul li {
	list-style: none;
	list-style-image: none;
}

nav ul#homenav li .sub ul,
nav ul#homenav li .sub ul li,
nav ul#homenav li .sub ul li a {
	z-index: 9000 !important;
	display: block;
}

nav,
nav ul#homenav,
nav ul#homenav li .sub,
nav ul#topnav li, /*added 2011-10-07 by cc */
nav ul#topnav li .sub /*added 2011-10-07 by cc */

 {
	z-index: 9000 !important;
}

nav ul#homenav li.discover-sjsu .sub ul li a, {
	width: 11em;
}
nav ul#homenav li.current-students .sub ul li a {
	width: 12.727em;
}
nav ul#homenav li.future-students .sub ul li a {
	width:12.091em;
}
nav ul#homenav li.faculty-staff .sub ul li a {
	width:11em;
}
nav ul#homenav li.alumni-community .sub ul li a {
	width:14.545em;
}
nav ul#homenav li.quick-links .sub ul li a {
	width:13.818em;
}





#slider-wrapper,
#slider-wrapper #slider,
#slider-wrapper #slider img {
	position: relative !important;
	z-index: 1000 !important;
}
