/* @group Web Font */
@font-face {
    font-family: 'AbsaraSansOT-bold';
    src: url('/sjsuhome/assets/fonts/AbsaraSansOT-Bold.eot');
    src: url('/sjsuhome/assets/fonts/AbsaraSansOT-Bold.eot?#iefix') format('embedded-opentype'),
         url('/sjsuhome/assets/fonts/AbsaraSansOT-Bold.woff') format('woff'),
         url('/sjsuhome/assets/fonts/AbsaraSansOT-Bold.ttf') format('truetype'),
         url('/sjsuhome/assets/fonts/AbsaraSansOT-Bold.svg#') format('svg');
    font-weight: bold;
    font-style: normal;
}
/* @end */


html, body {
	width:100%;
	min-height: 100%;
	background:#e2dacf;
}

#bg {
	width:985px;
	min-height:100%;
	margin:0 auto;
	padding-left:15px;
	background:url(/assets/images/bg_mid.png) top left repeat-y;
	/*overflow: hidden;*/
	overflow: visible;
	display: table;
}
#container {
	position: relative;
	display: block;
	float: left;
	width:895px;
	min-height:100%;
	background:url(/assets/images/bg_left.jpg) top left no-repeat #fff;
	padding-left:65px;
	/*overflow: hidden;*/
	overflow: visible;
	display: table-row;
}

#sjsuhomelink {
	position: absolute;
	left: 0; top: 0;
	width: 30px;
	height: 150px;
}

#top_home {
float: left;
width:895px;
height:40px;
}
#top_home .left {
float: left;
width:660px;
height:39px;
border-bottom:1px solid #4d4d4d;
}
#top_home .left a {
margin-top: 13px;
font-family: 'AbsaraSansOT-bold';
color: #136ea3;
height: 10px;
text-transform: uppercase;
font-size: 1.3em;
letter-spacing: .2em;
}
#top_home .left a:hover,
#top_home .left a:active,
#top_home .left a:focus{
color: #efa92f;
}
#top_home .left a.btn_logo:link, 
#top_home .left a.btn_logo:visited {
width:273px;
height:17px;
background:url(/assets/images/link_logo.gif) top left no-repeat transparent;
display:block;
text-indent:-9999px;
/*font-size:0px;*/
line-height:0px;
overflow:hidden;
}
#top_home .left a.btn_logo:hover, 
#top_home .left a.btn_logo:active,
#top_home .left a.btn_logo:focus {
background:url(/assets/images/link_logo.gif) bottom left no-repeat transparent;
}
#top_home .right {
width:212px;
background:url(/assets/images/bg_search.png) no-repeat left top;
height:40px;
}


.searchfeedbacktext {
	display:block;
	float:left;
	margin:8px 0 16px 7px;
	font-size:87.5%;
	color:#00c;
	text-decoration:underline;}
	.searchfeedbacktext:visited {color:#00c;}

/* page title */
.subsite_name {
	font-size: 225%;
	margin:22px 0 12px;
	padding:0;
	line-height:1;
	font-weight: normal;
	font-style: normal;
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #005a8b;
}

/* search box */
#q {
	float:left;
	font-size:16px;
	line-height:1;
	background:#fff;
	color:#000;
	font-family:Verdana, Geneva, sans-serif;
	border: 1px solid #005a8b;
	padding:2px 4px;
	margin:0;
	height:34px;
	-moz-box-shadow: 3px 3px 7px #eee;
	-webkit-box-shadow: 3px 3px 7px #eee;
	box-shadow: inset 2px 2px 3px #ddd;
}

/* search button */
button[name="btnG"] {
	display:block;
	float:left;
	width:42px;
	height:34px;
	background:url(/sjsuhome/assets/images/btnSearchBlueBox.jpg) no-repeat center;
	border:none;
	text-indent:-999em;
	background-color:#005a8b;
	cursor:pointer;
}

.searchRB {border-top:1px solid #005a8b;}

/* typeahead dropdown box styling" */

.tt-hint {display:none;}

.twitter-typeahead {float:left;}

.tt-suggestion p {
	font-size:14px /*this declaration will need to be =REVISITED during template update */;
	line-height:1;
	padding:6px 12px;
	margin:0;
	font-family: Verdana,Geneva,sans-serif;
	color:#fff;
}

.tt-dropdown-menu {
	min-width:554px;
	padding:6px 0;
	margin-top:-1px;
	border:1px solid #005a8b;
	background-color:#005a8b;
	color:#fff;}

.tt-is-under-cursor p {
	background-color:#fff;
	color:#005a8b;}


/* search page footer */
.footerAddress {
	clear:both;
    margin:12px 0;
}
.footerAddress h3 {font-size:87.5%; margin:0 0 4px;}
.footerAddress p {font-size: 87.5%; margin:0; line-height:1.2;}
.footerAddress img {float:left; margin-right:40px;}
.footerAddress span {font-size:75%; color:#666;}
