<?xml version="1.0" encoding="utf-8"?>
<?pcf-stylesheet path="/_resources/xsl/default.xsl" site="templates" extension="html"?>
<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd">

<document>
	<headcode></headcode>
	<bodycode></bodycode>
	<footcode></footcode>
		<!-- com.omniupdate.properties -->
			<title>500 - Internal Server Error</title>
		<!-- /com.omniupdate.properties -->
	<config>
		<parameter name="pagetype">top-level_interior</parameter>
		<!-- com.omniupdate.properties -->
		<parameter name="columns" type="select" group="Everyone" prompt="Number of Columns" alt="How many columns do you want your page to have?">
<option value="1col" selected="true">One Column</option>
<option value="2col" selected="false">Two Columns</option>
<option value="3col" selected="false">Three Columns</option>
</parameter>
		
 		<parameter name="sitemap" type="radio" group="Everyone" prompt="Sitemap" alt="Include page in sitemap?">
<option value="yes" selected="false">yes</option>
<option value="no" selected="true">no</option>
</parameter>		
		<!-- /com.omniupdate.properties -->
		<!-- com.omniupdate.properties -->
		<parameter name="primarynav" prompt="Primary Nav order" group="Everyone" alt="Order to appear in Primary Navigation.">01</parameter>
		<!-- /com.omniupdate.properties -->
	</config>
	<metadata>
		<!-- com.omniupdate.properties -->
			<meta name="description" content="" />
			<meta name="keywords" content="" />
			<meta name="author" content="" />
		<!-- /com.omniupdate.properties -->
	</metadata>
	<maincontent>
		<column_one>
		<!-- com.omniupdate.div  label="column_one"  group="Everyone"  button="707"  break="break" -->
		<!-- com.omniupdate.editor csspath="/includes/ou/editor/1column/column_one.css" cssmenu="/includes/ou/editor/content.txt" width="955" -->
		<!-- /com.omniupdate.div -->
		</column_one>
		<column_two>
		<!-- com.omniupdate.div  label="column_two"  group="Everyone"  button="707"  break="break" --><!-- com.omniupdate.editor csspath="/includes/ou/editor/1column/column_two.css" cssmenu="/includes/ou/editor/content.txt" width="955" --><p>The server encountered an internal error or misconfiguration and was unable to complete your request.</p>
<p>Please search <a href="/sjsuhome/index.html">sjsu.edu</a> using the search bar at the top of the page.</p><!-- /com.omniupdate.div -->
		</column_two>
		<column_three>
		<!-- com.omniupdate.div  label="column_three"  group="Everyone"  button="707"  break="break" -->
		<!-- com.omniupdate.editor  csspath="/includes/ou/editor/1column/column_three.css"  cssmenu="/includes/ou/editor/content.txt"  width="955" -->
		<!-- /com.omniupdate.div -->
		</column_three>
	</maincontent>
</document>
